/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');


#etichetta {
	
	margin: 0px; 
	padding: 0px; 
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}


#g_title {
	
	margin: 0px; 
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

#g_description{
	
	margin: 0px; 
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	
}

#obiettivo-percentuale{
	
	margin: 0px; 
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	
}

#obiettivo-panel-body{
	padding-bottom: 0px;
	margin-bottom: 0px;
	
}

#obiettivo-panel-body:hover{
	cursor: pointer;
}
#obietivo-panel-etichetta{
	/*background-color: rgba(206,228,255,1.00);*/
}




/*


SLIDEEEEEEEEEEEEEEEER 


*/

.slidecontainer {
    width: 85%;
	padding-top: 5px;
	float: right;
}

.slidecontainer-mood{
	width: 100%;
	padding-top: 6px;
	
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border: 0;
	border-radius: 50%; 
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

/*
	thumb webkit
*/

.slider-lifeYourself::-webkit-slider-thumb, #p_lifeYourself::-webkit-slider-thumb, #gm_lifeYourself::-webkit-slider-thumb, #goal_lifeYourself::-webkit-slider-thumb {
	background: green;
}

.slider-lifeCareer::-webkit-slider-thumb, #p_lifeCareer::-webkit-slider-thumb, #gm_lifeCareer::-webkit-slider-thumb, #goal_lifeCareer::-webkit-slider-thumb  {
	background: blue;
}

.slider-lifeRelationships::-webkit-slider-thumb, #p_lifeRelationships::-webkit-slider-thumb, #gm_lifeRelationships::-webkit-slider-thumb, #goal_lifeRelationships::-webkit-slider-thumb {
	background: red;
}

.slider-lifeMood::-webkit-slider-thumb, #p_lifeMood::-webkit-slider-thumb, #goal_lifeMood::-webkit-slider-thumb {
	background: rgba(126,101,0,1.00);
}

.slider-percentage::-webkit-slider-thumb, #p_percentage::-webkit-slider-thumb, #gm_percentage::-webkit-slider-thumb, #goal_percentage::-webkit-slider-thumb {
	background: black;
}

/*
	thumb mozilla
*/

#p_lifeYourself::-moz-range-thumb, #gm_lifeYourself::-moz-range-thumb,#goal_lifeYourself::-moz-range-thumb {
	background: green;
}

#p_lifeCareer::-moz-range-thumb, #gm_lifeCareer::-moz-range-thumb, #goal_lifeCareer::-moz-range-thumb {
	background: blue;
}

#p_lifeRelationships::-moz-range-thumb, #gm_lifeRelationships::-moz-range-thumb, #goal_lifeRelationships::-moz-range-thumb {
	background: red;
}

#p_lifeMood::-moz-range-thumb, #goal_lifeMood::-moz-range-thumb {
	background: black;
}

#p_percentage::-moz-range-thumb, #gm_percentage::-moz-range-thumb, #goal_percentage::-moz-range-thumb {
	background: blue;
}


#label_slider_Y{
	color: green; 
}

#label_slider_C{
	color: blue; 
}

#label_slider_R{
	color: red; 
}




#modalCommentsInvestitor div:nth-child(2){
	font-size: 15px;
}
#modalCommentsInvestitor div:nth-child(1){
	font-size: 15px;
}

/* ARTICOLI */
.panel-body-articles p{
	font-size: 12px;
}

.color-yourself{
	color: darkgreen;
}

.color-career{
	color: darkblue;
}

.color-relationships{
	color: darkred;
}

.color-percentage{
	color: black;
}

.modal.modal-wide .modal-dialog {
  width: 70%;
}

.modal-wide .modal-body {
  overflow-y: auto;
}

.info{
	font-size: 10px;
	font-style: italic;
	color: rgba(63,63,63,1.00);
	padding-bottom: 10px;
}

#imgInvestitor {
	position: relative;
}


#imgInvestitor .newsTitle, #imgInvestitor .title, #imgInvestitor .description{
	
	transform: rotate(-12.4deg);
	
}



#imgInvestitor .newsTitle {
    position: absolute;
    top: 47px;
    left: 50px;
    font-weight: 900;
    font-size: 17px;
}

#imgInvestitor .title {
    position: absolute;
    top: 76px;
    left: 105px;
    font-weight: 700;
    font-size: 14px;
	width: 120px;
    overflow: hidden;
}

#imgInvestitor .description{
	position: absolute;
    top: 95px;
    left: 111px;
    
    font-size: 8px;
    line-height: 7px;
    background-color: #f0f0f0;
    width: 124px;
    height: 50px;
    overflow: hidden;
}



#comment1{
	
	position: absolute;
    top: 420px;
    left: 50px;
    width: 100px;
	transform: rotate(-3deg);
}

#comment2{
	
	position: absolute;
    top: 403px;
    left: 234px;
    width: 100px;
	transform: rotate(-3deg);
    line-height: 17px;
	
}


#comment3{
	
	position: absolute;
    top: 421px;
    left: 422px;
    width: 100px;
	transform: rotate(-6deg);
	
}

#legendGraphLife li{
	list-style-position: inside;
	margin-left: 23px;
	font-size: 12px;
}

#legendGraphLife .titleGraphUL{
	font-weight: 700;
	font-size: 14px;
	border-bottom: 1px solid;
}

.panel-rect-shadow{
	border: 1px solid;
    /* padding: 10px; */
    box-shadow: 4px 5px 1px #e9e9e9;
}

.panel-rect-1{
	background-color: #000332;
	color: white;
}

.panel-rect-2{
	background-color: #002e07;
	color: white;
}

.panel-rect-3{
	background-color: #590101;
	color: white;
}

.panel-rect-4{
	background-color: #006476;
	color: white;
}


.carousel-phrase{
	width: 100%;
}


.panel-default > .panel-heading {
	
	color: #fff;
    background-color: #2f2f2f;
    border-color: #000;
    height: 30px;
    border: 5px;
	padding: 5px 10px;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
}

/*
NAVBAR MODIFICATA
*/
nav.navbar.navbar-default.navbar-static-top {
    background-color: black;
	height: 80px;
	
}

@media (min-width: 768px){
	
	.sidebar {
		
		margin-top: 80px;
	}
}

.navbar-default .navbar-brand {
    color: #777;
    height: 73px;
}

a.dropdown-toggle {
    color: white;
}

.navbar-top-links li a {
    padding: 18px;
    min-height: 50px;
    height: 40px;
    margin: -1px;
}

.navbar-top-links {
    margin-right: 0;
    padding-top: 10px;
}

.size-icon{
	font-size: 24px;
}

.header-story{
	border-bottom: 1px solid #c8c8c8;
}

.header-bottom{
	padding-bottom: 20px;
}

button.btn.btn-default.btn-xs.dropdown-toggle {
    height: 18px;
    font-size: 12px;
    padding: 0px 4px;
    padding-bottom: 3px;
}